<div class="row small-12">
  <h1>Check check 1 2</h1>
  <h1><%= @assessment.name %></h1>
  <h4>A project by <%= @assessment.created_by %></h4>
  <p>
    Visit the repo at <a href="<%= @assessment.link %>">Github</a>
  </p>
</div>
