<script type="text/javascript">
$('button#next').on('click', function(e){
  e.preventDefault()
  var assessment = parseInt($(this).attr('data-id')) + 1
  // debugger
  var getNext = $.get("/assessment/"+ assessment  + ".json", function(data){
      $('div.change_assessment_to_render p').text(JSON.stringify(data))
      debugger
      $('h1#assessment_name').html(data.name)
      $('h4#assessment_by').html("A project by <a href='/assessment/" +  data.user.name +"'" + data.user.name )
  });
  // getNext.done(function(data0
  // });
  getNext.error(function(){
    alert("Woah there looks like you're at the last one already!")
  });
});

</script>


<div class="change_assessment_to_render">
  <%= content_tag :p %>
  <% json_hash = nil%>
</div>

<%= render partial: 'show', local: json_hash || @assessment %>
