<div class="row column"><!-- Header Row -->
  <h1 class="text-center">Student Directory</h1>
  <p class="lead">All of the students with Learn Verfied! Find your page and keep it up to date or see what your neighbors are working on.</p>
</div> <!-- Header Row END -->
<div class="row small-up-2 medium-up-3 large-up-4">
  <% @students.each do |student| %>
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <a href="students/<%= student.id%>"><h5><%= student.name %></h5></a>
    </div>
  <% end %>
</div>
