// Place all the styles related to the assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.highlight {
  background-color: #e6e6e6;
}
//
// div.change_assessment_to_render{
//   visibility: hidden;
// }

button[data-prev]{
  float: left;
  margin: 0.5em 0 0 2em;
}
button[data-next] {
  float: right;
  margin: 0.5em 2em;
}
.hide {
  visibility: hidden;
}
div.comment_txt {
  // width: 100%;
  background-color: #ccc;
  // margin: 3em, 2em, 0.5em;
  border-radius: 2em;
  padding: 1.25em;
}
span.comment_by {
  border-radius: 2em;
  float: right;
  padding: 1.25em;
  background-color: #00bce1;
  margin-top: -1em;

}
