<div class="row small-centered"><!-- Top Row -->
  <div class="small-12 column small-centered">

  <h2 class="text-center">Come check out what our students are up to!</h2>
  <p>
    Here at Flatiron Schools Learn Verified Program our students work through our curriculum to learn the full Ruby on Rails Stack including, Ruby, JavaScript, HTML, CSS and modern web frameworks.  During each unit they complete an assesment as a capstone to learn more about working with their skills. Take a look around and see what our students have done for their assessments and the skills they've learned so far.
  </p>
</div>

<div class="row small-centered"><!-- Bottom Row -->
  <div class="columns small-6 small-centered"> <!-- First Column -->
    <div class="box">
      Hello!

    </div>
  </div>


  <div class="columns small-6 small-centered"> <!-- Second Column -->
    There!
  </div>
</div><!-- Bottom Row END -->
